@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto', sans-serif;

  background-color: mediumspringgreen;
}


.search-field {
  padding: 12px 24px;
  border: solid navy;
  border-radius: 4px;
  font-size: 1.3em;

  box-shadow: 3px 3px navy;
  outline: none;
  width: 30vw;
}
